* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.button{
  padding:20px;
}



body{
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.deleteButton img {
  width: 20px;  /* Set the image width */
  object-fit: contain; /* Ensures the image maintains aspect ratio */
  margin-left: auto;
  margin-right: auto;
}

button{
  background-color: #d3d3d3;
  border: none;
  border-radius: 15%;
  padding: .5rem 1rem;
  margin: .3rem;
  font-size: 1.3rem;
  color: white;
  width: 50px;
  height: 50px;
}

.enterButton { 
  text-transform: capitalize;
  width: 100px;
 }

.textarea{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

textarea{
  width: 100%;
  height: 150px;
  resize: none;
  padding: .5rem;
  font-size: 1.2rem;
  outline: none;
  border:2px solid aqua;
  border-radius: .5rem;

}
